<!DOCTYPE html>
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    
    title Responsive CSS Grid

    link(rel="stylesheet", href="./assets/css/style.css")
    link(rel="stylesheet", href="./assets/css/index.css")
  body
    .container
      nav Navbar
      main Main
      #sidebar Sidebar
      #content1 Content 1
      #content2 Content 2
      #content3 Content 3
      footer Footer